/*Default font-size, line-height and font-family*/
html{
  font-size: 18px;
  line-height: 1.4;
}

body{
  font-family: Helvetica;
}

/*This styles the section top-hlaf of the page*/
.top{
  height: 31rem;
  padding: 1rem 0rem 0rem 0rem;
  margin: 0rem 0rem 3rem 0rem;
}

.top{
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*This styles the navigaion bar at the top of the page*/
.navbar{
  background-color: cadetblue;
}

.navbar{
  max-width: 888px;                              /*960px-4rem*/
  margin: 0 auto;
  padding: 1rem 2rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  font-size: 1rem;
  color: white;
}

/*This styles the adjoining text with the logo*/
.navbar .logoandtext{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*This styles the logo image*/
.top .navbar .logoandtext img{
  margin: 0rem 1rem 0rem 0rem;
  padding: 0;
  height: 1.5rem;
  width: auto;
}

/*This styles the menu in navigation bar*/
.top .navbar .menu span{
  margin: 0rem 0rem 0rem 2rem;
  padding: 0;
}

/*This empty div or container is used as a reference to position the banner text*/
.top .blank{
  max-width: 960px;
  margin: 0 auto;
}

.top .blank{
  position: relative;
}

/*This is the text on the top image that uses the blank container to position itself.*/
.top .blank p{
  position: absolute;
  top: 10rem;
  right: -2rem;
}

.top .blank p{
  background-color: white;
}

.top .blank p{
  margin: 0;
  padding: 1.5rem 5rem;
}

.top .blank p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/*This styles the middle section of the page contianing the icons and the columns of text*/
.midsection{
  max-width: 1045px;
  margin: 0rem auto 3rem auto;
  padding: 0px;
  line-height: 1.5;
}

.midsection{
  display: flex;
  justify-content: center;
}

/*This styes the icons in the middle of the page, both the icon image and the underlying text*/
.midsection .icon{
  height: 8rem;
  width: 5rem;
  margin: 0rem 3rem 0rem 3rem;
}

.midsection .icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/*This styles the icon image*/
.midsection .left img{          /*Only for the left-most image*/
  width: 3.5rem;
  height: auto;
}

.midsection .middle img, .midsection .right img{
  width: 88px;
  height: auto;
}

/*This styles the text coloumn of the web page*/
.midsection .column{
  max-width: 35%;
  margin: 0% 2.5% 0% 2.5%;
}

/*This styles the heading of the columns*/
.midsection .column .heading{
  background-color: cadetblue;
}

.midsection .column .heading{
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
}

.midsection .column .heading{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/*This styles the footer of the web-page*/
footer{
  background-color: azure;
}

footer{
  margin: 5rem auto 0 auto;
  padding: 4rem;
  max-width: 816px;
}

footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer img{
  height: 1.5rem;
  width: auto;
  margin: 0rem 1rem 0rem 0rem;
}

/*This styles the word menu and copyright in footer on screen having width more that 666px*/
@media only screen and (min-width: 666px){
  .top .menu .mobile{
    display: none;
  }
}

/*This displayed the desired text in footer till the screen width increases to more than 680px*/
@media only screen and (min-width: 680px){
    footer .mobile{
      display: none;
    }
}

/*This styles the page for the screen below 1053px also known as tabs*/
@media only screen and (max-width: 1053px){
  .top{
    height: 22rem;
    padding: 0;
  }

  .navbar{
    max-width: 100%;
    margin: 0;
  }

  .top .blank{
    max-width: 100%;
    margin: 0px;
  }

  .top .blank p{
    top: 5rem;
    right: 2rem;
  }

  .top .blank p{
    margin: 0;
    padding: 0.75rem 4rem;
  }

  .top .blank p{
    font-size: 1.33rem;
  }

  footer{
    margin: 5rem auto 3rem auto;
    padding: 4rem 7rem;
    max-width: 100%;
  }
}

/*This styles the screen with width less than 972px*/
@media only screen and (max-width: 972px){
  .top{
    height: 17rem;
  }

  .navbar{
    max-width: 100%;
    margin: 0rem 0rem 9rem 0rem;
  }

  .top .blank{
    position: static;
  }

/*Since the banner text is no more require negative offset or margin*/
  .top .blank p{
    position: static;
  }

  .top .blank p{
    padding: 1rem;
    max-width: 100%;
  }

  .top .blank p{
    font-size: 1rem;
    text-align: center;
  }
}

/*For styles on screen size less than 679px*/
@media only screen and (max-width: 679px){
  .top{
    margin: 0rem 0rem 3.77rem 0rem;
  }

  .midsection{
    max-width: 100%;
    margin: 0rem auto 3.77rem auto;
  }
/*This makes the icon and the coloumn appear vertically one on top of the other*/
  .midsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .midsection .icon{
    margin: 0rem;
  }

  .midsection .middle{
    margin: 1.54rem 0rem;
  }

  .midsection .column{
    max-width: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }
/*This margin sepeatate the two text section*/
  .midsection .first{
    margin: 0rem 0rem 4rem 0rem;
  }

  .midsection .column .heading{
    background-color: cadetblue;
  }

  .midsection .column .heading{
    max-width: 100%;
  }

  .midsection .column .heading{
    text-align: center;
  }

  .midsection .column p{
    font-size: 0.77rem;
  }

  .midsection .column p{
    padding: 0px 5px;
  }

  footer{
    padding: 4rem 0rem;
    max-width: 100%;
  }

  footer{
    justify-content: center;
  }

  footer{
    margin: 0rem;
  }
/*This hides the text in the footer so that the mobile version only gets diplayed*/
  footer .tab{
    display: none;
  }

}

/*This syles the changes in webpage when the screen width is less than 665px*/
@media only screen and (max-width: 665px){

  .top .menu .tab{
    display: none;
  }

  .top{
    height: 17rem;
    padding: 0;
    margin: 0rem 0rem 3rem 0rem;
  }

  .navbar{
    max-width: 100%;
    margin: 0rem 0rem 9rem 0rem;
    padding: 1rem 2rem;
  }

  .top .blank{
    position: static;
  }


  .top .blank p{
    position: static;
    display: block;
  }

  .top .blank p{
    margin: 0;
    padding: 1rem;
    max-width: 100%;
  }

  .top .blank p{
    font-size: 1rem;
    text-align: center;
  }

}

/*This makes the changes in style when the screen width is less than 430px*/
@media only screen and (max-width: 430px){

  .top{
    height: 12rem;
  }

  .top .navbar .logoandtext span{
    display: none;
  }

  footer .mobile{
    display: none;
  }

  footer{
    width: 100%;
  }
}

/*This makes the changes in style when the screen width is less than */
@media only screen and (max-width:340px){
  .navbar{
    justify-content: center;
  }
  .top .navbar .menu{
    display: none;
  }
}
